$tab-size: 840px;

:host{
    display: grid;
}



.about{
    row-gap: 24px;
    &__row{
        display: grid;
        &:nth-child(1), &:last-child{
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
        }

        &:nth-child(2), &:nth-child(3){
            column-gap: 125px;
        }

        &:nth-child(2){
            grid-template-columns: 1fr 1.2fr;
        }
        &:nth-child(3){
            grid-template-columns: 1.2fr 1fr;
        }

        @media screen and ( max-width: $tab-size ) {
            grid-template-columns: auto !important;
            row-gap: 24px;
        }
    }
 
}








.card{
    display: grid;
    border-radius: 24px;
    border: 1.5px solid #284AA0;
    height: 210px;
    backdrop-filter: blur(10px);
    background: rgba(34, 44, 107, 0.01);
    padding: 16px 24px;
    transition: .3s;
    

    @media screen and ( max-width: $tab-size ) {
        height: 210px;
        padding: 8px 16px;
    }

    grid-template-rows: min-content min-content;

    &__title{
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
        // align-self: end;
        transition: .3s;
        justify-self: start;
        @media screen and ( max-width: $tab-size ) {
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
        }
    }

    &__icon{
        transition: .3s;
        max-height: 154px;
        height: 154px;
        overflow: hidden;
        img{
            width: 70px;
            height: 70px;
        }
        @media screen and ( max-width: $tab-size ) {
            max-height: 167px;
            height: 167px;
            img{
                width: 60px;
                height: 60px;
            }
        }
    }

    &__body{
        overflow: hidden;
        max-height: 0px;
        transition: .3s;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        @media screen and ( max-width: 780px ) {
            font-size: 16px;
        }
    }

    &:hover{
        background: rgba(4, 23, 60, 0.2);
        .card__icon{
            max-height: 0px;
        }

        .card__body{
            max-height: 157px;
            margin-top: 12px;
        }
        // .card__title{
        //     align-self: start;
        // }
    }

    // @media screen and ( max-width: 780px ) {
    //     background: rgba(4, 23, 60, 0.2);
    //     .card__icon{
    //         max-height: 0px;
    //     }

    //     .card__body{
    //         max-height: 157px;
    //         margin-top: 12px;
    //     }
        
    // }
}