<section class="section">
    <div class="section__anchor" id="about"></div>
    <h2 class="section__title" transloco="nav.about">О проекте</h2>

    <div class="section__content about">

        <div class="about__row" *ngFor="let cards of cardsName">
            <div class="about__card card" *ngFor="let card of cards">
                <div class="card__icon">
                    <img src="/assets/img/about/{{card}}.png" alt="">
                </div>
                <h3 class="card__title" [transloco]="'about.' + card + '.title'">{{card}}</h3>
                <p class="card__body" [transloco]="'about.' + card + '.body'">
            </div>
        </div>

    </div>
</section>