<header class="bg-response content-wrapper">
    <app-nav></app-nav>

    <div class="content">
        <div class="title">
            <h1>Octopus <br> cook</h1>
            <button class="btn" disabled="disabled">Sold Out</button>
        </div>

        <p class="description">
            <span transloco="header.title.part-1">Одна семья</span> - <br>
            <span transloco="header.title.part-2">Множество успехов.</span>
        </p>
    </div>


    <img src="/assets/img/header/octopus.png" class="not-content" alt="" id="octopus-img">

    <span id="to-next-block" class="bg-response not-content">
        scroll
    </span>

</header>

    
<div class="bckg parallax-block" >
    <div class="first bg-response" data-speed="0.5"></div>
    <div class="second bg-response" data-speed="1"></div>
</div>