<app-header></app-header>
<div id="transit-block">
    <div class="fullscreen transit-section"></div>
    <main class=" transit-section">
        <div class="main-inner bg-response content-wrapper">
            <app-about></app-about>
            <!-- <app-about-second></app-about-second> -->
            <app-faq></app-faq>
            <app-success-block></app-success-block>
            <app-footer></app-footer>
            <img src="/assets/img/footer/octopus.png" alt="" id="octopus-footer" class="pc">
            <img src="/assets/img/footer/octopus-mob.png" alt="" id="octopus-footer" class="mobile">
            
            <img src="/assets/img/octopus-about.png" class="not-content" alt="" id="octopus-about">

            <p id="dev-by" class="row">
                <span > &#169; Octopus Union 2023 </span>
            </p>
        </div>
    </main>
</div>