:host{
    z-index: 5;
}

nav{
    column-gap: 30px;
    > :first-child{
        justify-self: start;
    }
    > :last-child{
        justify-self: end;
    }
    z-index: 10;
}

.menu{
    @media screen and ( max-width: 880px ) {
        display: none;
    }

    column-gap: 40px;
    list-style: none;
    &__item{
        display: grid;
    }

    &__link{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        position: relative;
        &::before{
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: 0;
            height: 1.5px;
            width: 100%;
            border-radius: 5px;
            background-color: #BB0CAA;
            transition: .3s;
        }
        &:hover::before{
            opacity: 1;
        }
    }
}

a.btn{
    height: 57px;
    border: 1px solid #E232CA;
    font-size: 18px;
    width: 173px;
    color: #E232CA;
    &:hover{
        background-color: #E232CA;
        color: #fff;
    }
    @media screen and ( max-width: 780px ) {
        width: 147px;
        height: 46px;
        font-size: 16px;
    }
}


app-lang-switcher{
    @media screen and ( max-width: 780px ) {
        display: none;
    }
}


app-nav-mob-menu{
    @media screen and ( min-width: 881px ) {
        display: none;
    }
}






















.btn-burger-menu{
    display: none;

    @media screen and ( max-width: 880px ) {
        display: grid;
    }

    justify-self: start;
    row-gap: 4px;
    align-items: center;
    transition: .4s;
    width: 22.5px;

    .line{
        height: 2.5px;
        border-radius: 1px;
        background-color: #fff;
        width: 100%;
        &:first-child{
            width: 21px;
        }
        &:nth-child(2){
            width: 16px;
        }
        transition: .4s;
        pointer-events: none;
    }

    &--active .line{
        &:nth-child(2){
            opacity: 0;
        }

        &:nth-child(1){
            transform: rotate(45deg) scale(1.35, 1) translate(4px, 10px);
            // border-radius: 0.9px;
        }
        &:nth-child(3){
            transform: rotate(-45deg) scale(1.28, 1) translate(-1px, -4px)
        }
    }
}